*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    display: flex;
    border: solid 10px coral;
    height: 100vh;
    flex-wrap: wrap;
}
div{
    display: flex;
    width: 25vw;
    height: 30vh;
}
.n1{
background-color: blueviolet;
height: 30vh;
width: 35vw;

}
.n2{
background-color: thistle;
height: 30vh;
width: 35vw;

}
.n3{
background-color: aqua;
height: 30vh;
width: 35vw;

}
.n4{
background-color: brown;
height: 30vh;
width: 35vw;

}
